.supplyOrder-main-content {
    background-color: #f4f6f8;
    display: grid;
    .navig {
        display: block;
        .back {
            display: flex;
            cursor: pointer;
            margin-left: 2em;
            margin-bottom: 1em;
            &:hover {
                color: #007bff;
            }
        }
        .time-line {
            width: 100% !important;
        }
    }
    .activity-order {
        width: 100%;
        display: flex;
        .test {
            width: calc(100% - 300px);
        }

        .more-info {
            z-index: 100;
            .more-info-detail-created {
                background-color: #ffffff;
                border: 1px solid rgb(224, 224, 224);
                border-radius: 5px;
                width: 100%;
                padding-bottom: 20px;
                padding-left: 2em;
                .title {
                    font-size: 15px;
                    font-weight: 700;
                    padding-top: 15px;
                }
                .code-supply-order {
                    width: 90%;
                    padding-top: 5px;
                    height: 120px;
                    .title {
                        font-weight: 400;
                    }
                    .info {
                        width: 100%;
                        margin-top: 10px;
                    }
                    .MuiOutlinedInput-root {
                        height: 40px;
                    }
                }
                .time-supply-order {
                    .title {
                        font-weight: 400;
                        margin-bottom: 10px;
                    }
                    .time {
                        .MuiFormControl-root {
                            height: 40px;
                            .MuiOutlinedInput-root {
                                height: 40px;
                            }
                        }
                    }
                }
                .note {
                    margin-top: 10px;
                    .title {
                        font-size: 12px;
                        font-weight: 450;
                        padding-top: 15px;
                        margin-bottom: 10px;
                    }
                    .content-note {
                        width: 90%;
                        height: 80px;
                        border-color: #cfcfcf;
                        border-radius: 5px;
                    }
                }
                .btn-order {
                    margin-right: -2.4em !important;
                    background-color: #007bff;
                    color: #ffffff;
                    font-size: 12px;
                }
            }
        }
    }
}
.link-detail {
    text-decoration: none;
}

@media screen and (max-width: 500px) {
    .supplyOrder-main-content {
        padding: 1em 0.3em !important;
        .activity-order {
            display: block;
            .test {
                width: 100%;
            }
            .more-info {
                width: 100%;
                right: 0;
                padding: 2em;
            }
            .btn-order {
                width: 100%;
            }
        }
    }
}
