.title_topbar {
    flex: 1;
    color: black;
    font-size: 2rem !important;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif,
        "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !important;
    font-weight: 500 !important;
}
.right_topbar {
    display: flex;
    .right_topbar_button {
        text-transform: capitalize;
        color: rgb(92, 92, 92);
        margin-right: 2em;
        .button_icon {
            margin-left: 0.5em;
        }
    }
}

.drawerMini {
    font-size: 16px !important;
    background: #27274b;
    width: 30%;
    float: right;
    border-left: 1px white solid;
    height: 100vh;
    overflow-y: scroll;
    .leftbar_header {
        background: #27274b;
        a {
            height: 100%;
            .logo_image {
                width: 100%;
                height: 100%;
            }
        }
        .button_open {
            color: white;
            margin-right: 1.2em;
        }
        .button_close {
            color: white;
            margin-left: 0.2em;
        }
    }
    .nav_link {
        text-decoration: none;
        color: white;
    }

    .nav_leftbar {
        background-color: #27274b;
        color: white;
        height: 100%;
        .nav_leftbar_item {
            border-bottom: 1px rgba(255, 255, 255, 0.302) solid;
            .nav_item_icon {
                color: white;
            }
        }
    }
}
.box_content {
    width: 100% !important;
    overflow: hidden;
}

@media screen and (max-width: 500px) {
    .drawerMini {
        width: 80%;
    }
    .title_topbar {
        font-size: 1.5em !important;
    }
    .right_topbar .right_topbar_button {
        margin-right: 2em;
        font-size: 0.8em !important;
    }
}
