.createSupplier_page {
    height: 100%;
    background: #f4f6f8;
    .createSupplier_content {
        background: #f4f6f8;
        height: 100%;
        padding: 0 1em;

        .navig {
            padding-top: 0.5em;
            color: rgb(70, 70, 70);
            font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
            font-size: 0.8em;
            i {
                margin: 0 1em;
            }
            a {
                font-family: "Roboto", "Helvetica", "Arial", sans-serif;
                text-decoration: none;
            }
        }
        .activity {
            padding: 0.5em 1em;
            display: flex;
            align-items: center;
            width: 100%;
            margin-left: auto;
            justify-content: flex-end;

            .button_activity {
                margin: 0 1em;
                text-transform: capitalize;
            }
        }
    }
}

@media screen and (max-width: 500px) {
    .createSupplier_page {
        padding: 1em 0.3em !important;
    }
}
